<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture_entry.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture_entry.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @picture_entry.location %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @picture_entry.picture %>
  <%= image_tag(@picture_entry.picture_url, width: 800) if @picture_entry.picture.present? %>

<h2>Likes</h2>
  <% likecounter = 0 %>
  <% @likes.each do |like| %>
    <%= like.user_name %> likes this picture.<br>
    <% likecounter = likecounter +1 %>
  <% end %>
<% if likecounter > 1 %>
This picture has <%= likecounter %> likes.
<% end %>
</p>

<div class="button"><%= link_to 'Edit', edit_picture_entry_path(@picture_entry) %></div> |
<div class="button"><%= link_to 'Back', picture_entries_path %> </div>
