<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @like.user_name %>
</p>

<p>
  <strong>Picture entry:</strong>
  <%= @like.picture_entry %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
