<h1>Login</h1>
<div>
<%= form_for(:session, url: login_path) do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Login"%>
<% end %>
</div>
<p id="notice"><%= notice %></p>

<% if notice %>
<img src="https://media.giphy.com/media/W5YVAfSttCqre/giphy.gif">
<% end %>